
@model EdtechTest2.Areas.Admin.ViewModels.LanguageViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>





<div class="row">
    <h3 class="lead">Create Category</h3>
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"> Save</button>
        </form>

    </div>

</div>





<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Edit It </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Languages.Count > 0)
        {
            @foreach (var item in Model.Languages)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>
                        <a asp-action="Edit" asp-controller="Language" asp-route-id="@item.Id" class="btn btn-primary">Edit It </a>
                    </td>

                </tr>
            }
        }
        else
        {
            <br />
            <br />
            <br />
            <p class="lead">No Categories</p>
        }


    </tbody>
</table>