@model EdtechTest2.Areas.Instructor.ViewModels.CourseCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Course</h1>

<div class="col-md-12">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList,
                             "-Please select a Category-", new { @class = "form-control" })
           
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

       
        <button type="submit" class="btn btn-primary"> Continue</button>
    </form>

</div>