@model List<Default>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<a  asp-action="sit" asp-area="admin" asp-controller="default"   class="btn btn-primary p-2">Create</a>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Name </th>
            <th scope="col">Show/Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.id</th>
            <td>@item.Name</td>
            <td>
                <a asp-action="Update" asp-route-id="@item.id" asp-controller="default" asp-area="admin" class="btn btn-primary">Show/Edit</a>
            </td>
            <td>
                <form asp-action="delete" asp-area="Admin" asp-controller="Default" method="post">
                    <button type="submit" name="id" value="@item.id"  class="btn btn-danger">Delete</button>

                </form>
            </td>
        </tr>

        }

    </tbody>
</table>