@model Default
@{
    ViewData["Title"] = "sit";
}

    <div class="row">

        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContentString"></label>
                    <input asp-for="ContentString" class="form-control" />
                    <span asp-validation-for="ContentString" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"> Save</button>

            </form>

        </div>

    </div>