@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="list-group">
    <li class="list-group-item"> <a class="nav-link" asp-action="index" asp-controller="home" asp-area="User">Courses </a></li>
    <li class="list-group-item"> <a class="nav-link" asp-action="profile" asp-controller="home" asp-area="User" asp-route-id="7">Performences </a></li>
   

</ul>