
@{
    ViewData["Title"] = "BecomeInstructor";
}


<br />
<br />
<br />
<br />
<form method="post">
    <button type="submit" name="a" value="d" class="btn btn-primary btn-lg">Become Instructor</button>
</form>
